// Variables
// --------------------------

$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;


$fa-var-preview: "\f000";

$fa-var-logikk: "\f001";

$fa-var-logikkutensirkel: "\f002";

$fa-var-expand: "\f003";

$fa-var-minimize: "\f004";

$fa-var-editing-file: "\f005";

$fa-var-editing-selected-file: "\f006";

$fa-var-code-files: "\f007";

$fa-var-radioknapp: "\f009";

$fa-var-sjekkboks: "\f00a";

$fa-var-nummer: "\f00b";

$fa-var-kortsvar: "\f00c";

$fa-var-langtsvar: "\f00d";

$fa-var-adresse: "\f014";

$fa-var-nedtrekk: "\f015";

$fa-var-tittel: "\f018";

$fa-var-paragraf: "\f019";

$fa-var-integration-test: "\f01a";

$fa-var-studio-test: "\f01b";

$fa-var-vedlegg: "\f01c";

$fa-var-knapp: "\f01d";

$fa-var-attachment: "\f01e";

$fa-var-button: "\f020";

$fa-var-short-answer: "\f021";

$fa-var-long-answer: "\f022";

$fa-var-drop-down: "\f023";

$fa-var-number: "\f024";

$fa-var-paragraph: "\f025";

$fa-var-title: "\f026";

$fa-var-radio-button: "\f028";

$fa-var-checkbox: "\f029";

$fa-var-private-circle-big: "\f02a";

$fa-var-more: "\f02b";

$fa-var-back: "\f02c";

$fa-var-arrowright: "\f02d";

$fa-var-date: "\f02e";

$fa-var-upload: "\f02f";

$fa-var-corp: "\f030";

$fa-var-circle-exit: "\f031";

$fa-var-circletrash: "\f032";

$fa-var-expand-alt: "\f033";

$fa-var-settings: "\f034";

$fa-var-plus: "\f035";

$fa-var-search: "\f036";

$fa-var-circlecancel: "\f037";

$fa-var-circlecheck: "\f038";

$fa-var-plain-circle-big: "\f039";

$fa-var-exit: "\f03a";

$fa-var-circle-exclamation: "\f03b";

$fa-var-circle-plus: "\f03c";

$fa-var-download: "\f03d";

$fa-var-info-circle: "\f03e";

$fa-var-others: "\f03f";

$fa-var-deadline: "\f040";

$fa-var-private: "\f041";

$fa-var-read: "\f042";

$fa-var-write: "\f043";

$fa-var-edit: "\f044";

$fa-var-logic-no-circle: "\f045";

$fa-var-address: "\f046";

$fa-var-help-circle: "\f047";

$fa-var-3rd-party: "\f048";

$fa-var-3rd-party-alt: "\f049";

$fa-var-checkmark: "\f04a";

$fa-var-corp-circle-big: "\f04b";

$fa-var-clone: "\f04c";

$fa-var-circle-upload: "\f04d";

$fa-var-keyhole: "\f04e";

$fa-var-archive: "\f04f";

